@mixin trans($time) {
  transition: all linear $time;
  -webkit-transition: all linear $time;
  -moz-transition: all linear $time;
  -ms-transition: all linear $time;
  -o-transition: all linear $time;
}

// transition mixin;

@mixin btn30 {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

@mixin btn40 {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

@mixin btn50 {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

@mixin border-light {
  color: #fff;
  border: 1px solid #fff;
}

@mixin border-dark {
  color: #222;
  border: 1px solid #222;
}

// btn mixin;

@mixin before {
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: $over70;
    position: absolute;
    inset: 0;
    z-index: -1;
  }
}

@mixin banner-over {
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: $over60;
    position: absolute;
    inset: 0;
    z-index: -1;
  }
}

// before;
