$ff1: "Open Sans", sans-serif;
$ff2: "Raleway", sans-serif;

// font family ends

$hbg: #444444;
$light: #dddddd;
$brand: #de4644;
$light2: #f1f1f1;
$cldark: #222222;
$balck: #000000;
$fbg: #353535;

// color and bg color ends;

$over60: rgba($balck, 0.6);
$over70: rgba($balck, 0.7);
$over80: rgba($balck, 0.8);

// overlay color;
