@import "../variables";
@import "../mixin";
@import "../fonts";

// partials import done;

header {
  background: $hbg;
  ul {
    display: flex;
    li {
      color: $light !important;
      padding: 0 10px !important;
      @include open-r;
      font-size: 13px;
      line-height: 50px;
      border-right: 1px solid $light;
      button {
        color: $light !important;
        @include open-r;
        font-size: 13px !important;
      }
      a {
        color: $light;
        @include trans(0.4s);
        &:hover {
          color: $brand;
        }
      }
    }
  }
  .header-left {
    ul {
      li {
        &:first-child {
          padding-left: 0px !important;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
  .header-right {
    ul {
      li {
        &:last-child {
          padding-right: 0 !important;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
}

/* =============================
header css ends
=============================== */
